.additional__title-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}

.additional__title {
  width: 320px;
  margin: 0;
  font-family: Oswald;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  box-sizing: border-box;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-top : 1px solid #cdcdcd;
}

.additional__item:last-child {
  border-bottom : 1px solid #cdcdcd;
}

.additional__name {
  margin: 0;
  font-family: Oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional__cost {
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__link {
  display: block;
  padding: 10px 0;
  font-family: Oswald;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
}
