.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  padding-top: 17px;
  padding-bottom: 36px;
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-family: Oswald;
  font-weight: normal;
  color: #111111;
}

.example__notation {
  padding-top: 23px;
  padding-right: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  br {
    display: none;
  }
}

.example__item {
  position: relative;
  margin-top: 25px;
  flex: 0 0 44.5%;
}

.example__kg,
.example__days {
  margin: 0;
  padding: 13px 20px;
  padding-bottom: 17px;
  font-size: 24px;
  line-height: 24px;
  font-family: Oswald;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__sub {
  position: absolute;
  bottom: -15px;
  width: 82px;
  display: flex;
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: #444444;
  background-color: #f2f2f2;

  &--loseweight {
    padding: 0 3px;
    left: 17px
  }

  &--time {
    padding: 0 12px;
    left: 10px;
  }
}

.example__costs {
  margin: 0;
  margin-top: 34px;
  padding-left: 2px;
  flex: 1 1 auto;
  font-family: Oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.example__range-wrapper {
  position: relative;
  padding: 0 40px;
  padding-left: 43px;
  padding-right: 38px;
  padding-top: 306px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left -20px top 35px;
}

.example__range {
  width: 84px;
  box-sizing: border-box;
}

.example__controls {
  position: relative;
}

.example__toggle {
  display: none;
}

.example__controls .example__scale {
  display: flex;
  align-items: center;
  height: 14px;
  padding: 0 5px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background: #ffffff;
  box-sizing: border-box;
}
.example__controls .example__bar {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background: #68b738;
}

.example__was,
.example__become {
  font-size: 16px;
  line-height: 20px;
  font-family: Oswald;
  text-transform: uppercase;
  color: #111111;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(#ffffff 57%, #eaeaea 57%, #eaeaea 100%);
  }

  .example__wrapper {
    padding-top: 43px;
    padding-bottom: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__notation {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;

    br {
      display: inline-block;
    }
  }

  .example__item {
    margin-top: 53px;
    margin-right: 42px;
    flex: 0 0 162px;
  }

  .example__kg,
  .example__days {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 20px;
  }

  .example__kg + .example__sub {
    left: 27px;
  }

  .example__days + .example__sub {
    left: 13px;
  }

  .example__sub {
    width: auto;
    bottom: -5px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    text-transform: lowercase;
    background-color: #ffffff;
  }

  .example__costs {
    margin-top: 0;
    margin-left: auto;
    padding-top: 65px;
    padding-left: 16px;
    padding-bottom: 3px;
    flex: 0 0 192px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
  }

  .example__range-wrapper {
    margin-top: 85px;
    padding-top: 535px;
    padding-bottom: 70px;
    padding-left: 69px;
    padding-right: 69px;
    background-image: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 50%;
      height: 515px;
      background-image: url("../img/before-tablet@1x.png");
      background-position: 16px 1px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 515px;
      background-image: url("../img/after-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: -338px 1px;
    }
  }

  .example__range {
    width: 430px;
  }

  .example__controls .example__scale {
    height: 6px;
    border: none;
    background-color: #dcdcdc;
  }

  .example__bar {
    display: none;
  }

  .example__toggle {
    position: absolute;
    top: -13px;
    left: calc(50% - 16px);
    display: block;
    padding: 5px;
    width: 10px;
    height: 10px;
    background-color: #68b738;
    border: 11px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 #cfcfcf;
    box-sizing: border-box;
  }

  .example__was,
  .example__become {
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dotted #bebebe;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(#ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
  }

  .example__wrapper {
    padding-top: 23px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .example__title {
    padding-top: 46px;
    padding-left: 40px;
    flex: 0 0 100%;
  }

  .example__notation {
    margin-top: 76px;
    padding-left: 40px;
    padding-top: 70px;
    flex: 0 0 50%;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    br {
      display: none;
    }
  }

  .example__text {
    padding-right: 175px;
  }

  .example__item {
    margin-top: 68px;
  }

  .example__costs {
    margin-left: 0;
    padding-top: 60px;
    padding-left: 0;
    flex: 0 0 328px;
    justify-content: space-between;
  }

  .example__range-wrapper {
    margin-top: 0;
    padding-top: 439px;
    padding-left: 40px;
    padding-right: 40px;
    flex: 0 0 50%;
    box-sizing: border-box;

    &:before {
      top: -116px;
      width: 50%;
      height: 516px;
      background-image: url("../img/before-desktop@1x.png");
      background-position: -40px 1px;
    }

    &:after {
      content: "";
      position: absolute;
      top: -116px;
      right: 0;
      width: 50%;
      height: 516px;
      background-image: url("../img/after-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: -365px 1px;
    }
  }
}
