.footer {
  background-color: #f2f2f2;
}

.footer__logo-svg {
  width: 128px;
  height: 24px;
}

.footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 31px;
  text-align: center;
}

.footer__list {
  display: flex;
  margin: 0;
  padding: 25px 72px;
  list-style-type: none;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.footer__item {
  display: flex;
  align-items: center;
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social {
  font-size: 0;
  line-height: 0;
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  span {
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }

  img {
    height: 34px;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding-top: 60px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    padding: 0;
  }

  .footer__list {
    padding: 0;
    border: none;
  }

  .footer__copyright {
    padding: 0;
  }
}
