.navigation {
  position: relative;
  font-size: 20px;
  color: #111111;
}

.navigation__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
}

.navigation__logo {
  display: block;
  padding: 22px 20px;
  font-size: 20px;
  line-height: 20px;
  font-family: Oswald;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  box-sizing: border-box;

  span {
    position: relative;
  }

  span:before {
    position: absolute;
    left: -95px;
    top: -4px;
    content: "";
    width: 33px;
    height: 38px;
    background-image: url("../img/mstile-150x150.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center -15px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  border-bottom: 1px solid #e6e6e6;
}

.navigation__link {
  display: block;
  padding: 17px 20px;
  font-family: Oswald;
  color: #111111;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navigation__item,
  .navigation__logo {
    border: none;
  }

  .navigation__logo {
    padding-left: 120px;
  }

}
