.navigation {
  position: relative;
  font-size: 20px;
  color: #111111;
}

.navigation__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
}

.navigation__logo-wrapper {
  border-bottom: 1px solid #e6e6e6;
}

.navigation__logo {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 13px 20px;
  font-size: 20px;
  line-height: 20px;
  font-family: Oswald;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  cursor: pointer;
  box-sizing: border-box;

  span {
    position: relative;
  }

  span:before {
    position: absolute;
    left: -95px;
    top: -4px;
    content: "";
    width: 33px;
    height: 38px;
    background-image: url("../img/mstile-150x150.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center -15px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.navigation__item {
  border-bottom: 1px solid #e6e6e6;
}

.navigation__link {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 17px 20px;
  font-family: Oswald;
  color: #111111;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation {
    padding: 25px 30px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navigation__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__item,
  .navigation__logo-wrapper {
    border: none;
  }

  .navigation__logo {
    width: auto;
    padding-left: 30px;
    padding-top: 0;

    img {
      width: 173px;
      height: 58px;
    }
  }

  .navigation__link {
    width: auto;
    padding: 17px 0;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    padding: 54px 0 0 75px;
    font-size: 20px;
  }

  .navigation__logo {
    padding-left: 35px;

    img {
      width: 202px;
      height: 59px;
    }
  }

  .navigation__list {
    padding-right: 110px;
    flex: 0 0 50%;
    justify-content: flex-end;
  }

  .navigation__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__link {
    padding: 20px 0 17px 0;
    color: #ffffff;
  }
}
