.offers {

}

.offers__article {
  margin-top: 22px;
  background-color: #f2f2f2;
}

.offers__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-family: Oswald;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.offers__text {
  margin: 0;
  padding: 20px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  box-sizing: border-box;

  br {
    display: none;
  }
}

.offers__link-wrapper {
  padding: 0 20px;
  box-sizing: border-box;
}

.offers__link {
  display: block;
  padding: 20px 0;
  font-family: Oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  border-top: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .offers__article {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  .offers__title {
    font-size: 36px;
    line-height: 37px;
    text-align: left;
  }

  .offers__text {
    padding-left: 0;
    padding-right: 290px;
    font-size: 16px;
    line-height: 24px;

    br {
      display: inline;
    }
  }

  .offers__link-wrapper {
    padding: 0;
  }

  .offers__link {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }
}
