.personal__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

.personal__label {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  font-family: Oswald;
  font-size: 18px;
  line-height: 18px;
  color: #222222;

  &:last-child {
    margin-bottom: 0;
  }
}

.personal__acronym {
  flex: 0 0 auto;
}

.personal__input {
  margin-left: 15px;
  padding: 5px 0 5px 10px;
  flex: 1 1 auto;
  color: #444444;

  &::placeholder {
    color: rgba(68, 68, 68, 1);

  }
}
