.user-contacts {
  margin-top: 25px;
  background: linear-gradient(#68b738);
  background-size: 50% 3px;
  background-repeat: no-repeat;
  background-position: 100% 15px;
}

.user-contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Oswald;
  box-sizing: border-box;
}

.user-contacts__description {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: #111111;

  span {
    padding-right: 30px;
    background-color: #ffffff;
  }
}

.user-contacts__label-wrapper {
  padding: 22px 0;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.user-contacts__label {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.user-contacts__svg-wrapper {
  position: absolute;
  right: 10px;
  background-color: #f2f2f2;
}

.user-contacts__acronym {
  flex: 0 0 auto;
}

.user-contacts__input {
  margin-left: 15px;
  padding: 5px 0 5px 10px;
  flex: 1 1 auto;
  color: #444444;

  &::placeholder {
    text-transform: uppercase;
    color: rgba(68, 68, 68, 1);

  }
}
